target/
*.iml
.classpath
.factorypath
.project
.dependency-reduced-pom.xml
.DS_Store
.idea

beer-billing/dependency-reduced-pom\.xml

beer-waiter/dependency-reduced-pom\.xml
/.metadata/
/.recommenders/

beer-cost-function/\.settings/

beer-cost-function/dependency-reduced-pom\.xml

beer-waiter/\.settings/

beer-billing/\.settings/

beer-billing-client/\.settings/

beer-billing-model/\.settings/

beer-cost-function-model/\.settings/

beer-cost-function-client/\.settings/
